*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;	
	}

html{
	scroll-behavior: smooth;
}

.cover{
	background-color: rgb(12, 12, 12);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
	width: 120px;
    color: #cc3300;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
}

.navigation a::after{
	content: '';
	height: 3px;
	width: 0px;
	background: red;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navigation a:hover::after{
    width: 100%
}

/*----------------------------------------------------------------front-------------------------------------------------------------*/

#home{
	padding: 168px 0px;
	color: white;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../img/lloyd/lloydhome1.jpg);
	background-position: center;
	background-size: cover;
	max-height: 962px;
	}

.home-container{
	max-width: 1500px;
	margin: auto;
	width: 100%;
	padding-top: 30px;
}	

.home-list{
	height: auto;
	color: #fff;
	margin-bottom: 11rem;
}

.home-content{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 18rem;
}

.home-content .home-img img{
	height: 700px;
	width: 400px;
	margin-top: 63px;
}

.home-list h3{
	letter-spacing: 0.2rem;
	font-weight: 600;
	font-size: 40px;
}

span{
	color: #0397ff;
}

.home-list h1{
	letter-spacing: 0.1rem;
	margin-top: 1.4rem;
	font-weight: 600;
	font-size: 60px;
}

/*-----------------------------------------------------------------about me-----------------------------------------------------------*/


#about-me{
padding: 150px 0px;
color: white;
background-color: #151212;
background-position: center;
background-size: cover;
}

#about-me .sub-title{
	font-size: 50px;
	text-align: center;
	padding-bottom: 80px;
}

.about-me-container{
	max-width: 1300px;
	margin: auto;
	width: 100%;
}

.about-me-page{
	text-align: center;
}

.about-me-page img{
	width: 280px;
	height: 280px;
	border-radius: 50%;
	border: #0397ff 8px double;
	margin-bottom: 40px;
}

.about-me-page h3{
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 0.3rem;
}

.about-me-page p{
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.1rem;
	line-height: 1.6rem;
	padding-top: 40px;
	text-align: center;
}

/*------------------------------------------------------------------services-----------------------------------------------------*/

#services{
	padding: 150px 0px;
	color: white;
	background: black;
	background-size: cover;	
	background-position: center;
}

.container h1{
	font-size: 40px;
	text-align: center;
}

.services-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 40px;
	margin-top: 60px;

}

.services-list div{
	background: #0397ff;
	padding: 25px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}

.services-list div h2{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.services-list div p{
	font-size: 0.9rem;
	text-align: justify;
	line-height: 1.2rem;
}

.services-list div:hover{
	background: white;
	color: black;
	transform: translateY(10px);
}

.container{
	max-width: 1200px;
	margin: auto;
	width: 100%;
}

/*------------------------------------------------------------------work-----------------------------------------------------*/

#work{
	background-color: #151212;
	background-size: cover;
	background-position: center;
	padding: 120px 0;
	color: white;
}

#work .sub-title{
	font-size: 40px;
	text-align: center;
}

.work-list{
	max-width: 1200px;
	margin: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;;
	gap: 3.5rem;
	margin-top: 50px;
}

.work-list img{
	width: 100%;
	height: 300px;
	border-radius: 40px;
	display: block;
	transition: background 0.5s, transform 0.5s;
}

.work-list img:hover {
	transform: translateX(10px);
	cursor: pointer;
}
/*------------------------------------------------------------------contact-----------------------------------------------------*/

#contact{
	padding: 200px 0;
	background-image: url(../img/lloyd/lloydcontact.webp);
	background-size: cover;
	background-position: center;
}

.contact-container{
	max-width: 1300px;
	margin: auto;
	width: 100%;
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(2, 1fr);
}

.contact-text span{
	color: #0397ff;
}

.contact-text h4{
	color: white;
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}

.contact-text h2{
	color: white;
	font-size: 55px;
	line-height: 1;
}

.contact-text p{
	color: grey;
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 30px;
}

.list{
	margin-bottom: 2.8rem;
}

.list ul li{
	margin-bottom: 12px;
	list-style: none;
}

.list ul li a{
	display: block;
	color: grey;
	font-size: 14px;
	text-decoration: none;
	transition: all .45s ease;
}

.list ul li a:hover{
	color: white;
	transform: translateY(5px);
}

.contact-icons i{
	height: 45px;
	width: 45px;
	background: #0397ff;
	color: white;
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all .45s ease;
}

.contact-icons i:hover{
	background: white;
	color: #0397ff;
}

.contact-form form{
	position: relative;
}

.contact-form form input, form textarea{
	width: 100%;
	padding: 14px;
	background: #3c3f4a;
	border: none;
	outline: none;
	color: white;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.contact-form textarea{
	resize: none;
	height: 240px;
}

.contact-form .submit{
	display: inline-block;
	font-size: 16px;
	background: #0397ff;
	color: white;
	width: 160px;
	transition: all .45s ease;
}

.contact-form .submit:hover{
	transform: scale(1.1);
	cursor: pointer;
}

/*----------------------------------------------footer--------------------------------------------*/

.svg{
	background-color: black;
}

#footer{
	padding: 120px 0;
	color: #e4d6d6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #0397ff;
}

.footer-container{
	max-width: 1300px;
	margin: auto;
	width: 100%;
	display: grid;
	gap: 5rem;
	grid-template-columns: repeat(3, 1fr);
}

.footer-about p{
	padding-top: 1.5rem;
	line-height: 1.5rem;
}

.footer-link p{
	padding-top: 1.5rem;
	line-height: 1rem;
}

.footer-icons i{
	background: #fff;
	height: 45px;
	width: 45px;
	color: #0397ff;
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}

.footer-icons i:hover{
	background: #0397ff;
	color: #fff;
}

.footer-icons p{
	padding-top: 1rem;
	line-height: 1rem;
}

.footer-icons p a{
	text-decoration: none;
	color: #fff;
}
