*{
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

.front{
	padding: 12px 0 0 18px;
	width: 100%;
	height: auto;
	color: #fff;
	position: relative;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/home/back.jfif);
	background-size: cover;
	background-position: center;
}

.cover{
	background-color: #151212;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	z-index: 1;
}

.logo{
	width: 120px;
    color: #e00707;
}

#menu-icons{
	font-size: 2.6rem;
	color: #e00707;
	display: none		;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
}

.navigation a::after{
	content: '';
	height: 3px;
	width: 0px;
	background: #e00707;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navigation a:hover::after{
    width: 100%
}

.navigation a.active{
	color:red;
}

.login{
	padding: 10px 50px;
	border-radius: 20px;
	border: 3px solid red;
}	

.login:hover{
	border: 3px solid red;
	background-color: red;
}

.front{
	display: flex;
	justify-content: center;
	align-items: center;
}

.front-img img{
	width: 1100px;
	height:800px;
	margin-top: 160px;
}

.content .par{
	padding-left: 20px;
	padding-bottom: 25px;
	font-family: Arial;
	letter-spacing: 1.2px;
	line-height: 30px;
}

.content h1{
	font-size: 70px;
	padding-left: 20px;
	letter-spacing: 2px;
}

.content span{
	text-align: center;
	font-size: 70px;
	color: #e00707;
}


/*---------------------------------------------------services--------------------------------------------------*/
#services{
	padding: 120px 0;
	color: white;
	background-color: #151212;
}

.container h1{
	font-size: 40px;
	text-align: center;
}

.services-list{
	max-width: 1200px;
	margin: auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 100px;

}

.services-list div{
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("../img/home/1.jpg");
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}

.services-list div h2{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}


.services-list div p{
	font-size: 0.8rem;
	text-align: justify;
	line-height: 1.2rem;
}

.services-list div:hover{
	transform: scale(1.1);
	cursor: pointer;
}

/*---------------------------------------------------------work----------------------------------------------------------*/

#works{
	padding: 120px 0;
	color: #fff;
	background: black;
	background-size: cover;
	background-position: center;
}

.sub-title{
	margin-top: 5px;
}

.about{
	max-width: 1200px;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 100%;
	align-items: center;
	gap: 5rem;
	margin-top: 80px;
}

.about-img img{
	height: 400px;
	width: 500px;
	border-radius: 10px;
}

.about-content h3{
	font-size: 2.4rem;
}

.about-content p{
	font-size: 1.2rem;
	line-height: 2rem;
	margin-top: 40px;
	text-align: justify;
}

/*------------------------------------------------schedule--------------------------------------------------------*/

#table{
	padding: 120px 0;
	color: #fff;
	background: #151212;
	background-size: cover;
	background-position: center;
}

.sub-title{
	margin-top: 5px;
}

table{
	display: flex;
	align-items: center;
	justify-content: center;
}

.tables{
	margin-top: 60px;
}

.tables tr,td, th{
	color: white;
}

.tables td, th{
	padding: 10px 150px;
	font-size: 12px;
	background-color: black;
	border: 2px solid gray;
	border-radius: 20px;
}

td.time{
	text-align: center;
	color: black;
	background: white;
}

.tables th{
	font-size: 20px;
}

/*---------------------------------------------------------contact-----------------------------------------------------*/

#contact{
	padding: 120px 0;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: black;
}

.contact-container{
	max-width: 1200px;
	margin: auto;
	width: 100%;
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(2, 1fr);
}

.contact-icons ul{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
}

.contact-icons li{
	margin-right: 40px;
	padding-bottom: 50px;
}

.contact-icons li a{
	text-decoration: none;
	color: #fff;
}

.contact-icons i{
	height: 35px;
	width: 35px;
	color: white;
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 8px;
	transition: all .45s ease;
}

#contact .sub-title{
	padding-bottom: 10px;
	margin-top: 5px;
	text-align: center;
}

#contact h4{
	padding-bottom: 30px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.form-container{
	padding: 20px;
}

.form-container h3{
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.contact-form{
	display: grid;
	row-gap: 1rem;
}

.contact-form input{
	width: 100%;
	border: none;
	outline: none;
	background: #3c3f4a;
	padding: 20px;
	font-size: 0.9rem;
	color: #fff;
	border-radius: 1.5rem;
}

.contact-form textarea{
	resize: none;
	height: 200px;
	width: 100%;
	border: none;
	outline: none;
	background: #3c3f4a;
	padding: 20px;
	font-size: 0.9rem;
	color: #fff;
	border-radius: 0.6rem
}

.contact-form .send-button{
	border: none;
	outline: none;
	background: #e00707;
	font-size: 1rem;
	font-weight: 500;
	transition: all .45s ease;
}

.contact-form .send-button:hover{
	transform: scale(0.9);
	cursor: pointer;
}

.map iframe{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

/*---------------------------------------------------------developers-----------------------------------------------------*/
#developer{
	padding: 120px 0;
	color: white;
	background-color: #151212;
}

.team h2{
	text-align: center;
	font-size: 20px;
	margin-bottom: 40px;
}

.team span{
	text-align: center;
	font-size: 40px;
	color: #e00707;
}


h2{
	color: white;
	margin-top: 10px;
}

span{
	color: grey;
	font-size: 15px;
}

.dev{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	text-align: center;
	margin-top: 40px;
}

.dev img{
	border-radius: 50%;
	width: 300px;
	height: 300px;
}

.dev h2{
	margin-top: 20px;
	font-size: 1.8rem;
}

/*---------------------------------------------------------footer-----------------------------------------------------*/

.svg svg{
	position: absolute;
	background-color: #151212;
}
 dwa
#footer{
	padding: 120px 0;
	color: #e4d6d6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #e00707;
}

.footer-container{
	max-width: 1200px;
	margin: auto;
	width: 100%;
	display: grid;
	gap: 5rem;
	grid-template-columns: repeat(3, 1fr);
}

.footer-about p{
	padding-top: 1.5rem;
	line-height: 1.5rem;
}

.footer-link p{
	padding-top: 1.5rem;
	line-height: 1rem;
}

.footer-icons i{
	background: #fff;
	height: 45px;
	width: 45px;
	color: #e00707;
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}

.footer-icons i:hover{
	background: #e00707;
	color: #fff;
}

.footer-icons p{
	padding-top: 1rem;
	line-height: 1rem;
}

.footer-icons p a{
	text-decoration: none;
	color: #fff;
}

/*--------------------------css----------------*/
@media (max-width: 1200px){
	html{
		font-size: 55%;
	}
}

@media (max-width: 991px){
	.cover{
		padding: 2rem 12%;
	}

	section{
		padding: 10rem 3% 2rem;
	}
	.footer{
		padding: 2rem 3%;
	}
}

@media (max-width: 1750px){
	#menu-icons{
		display: block;
	}

	.navigation{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: black;
		border-top: .1rem solid rgb(0, 0, 0, .2);
		box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .2);
		display: none;
	}

	.navigation a:hover::after{
		width: 20%;
	}

	.navigation.active{
		display: block;
	}

	.navigation a{
		display: block;
		font-size: 1rem;
		margin: 1rem 2rem;
	}
}

/*============================== second layer ============================*/

@media (max-width: 1360px){
	#menu-icons{
		display: block;
	}

	.navigation{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: black;
		border-top: .1rem solid rgb(0, 0, 0, .2);
		box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .2);
		display: none;
	}

	.navigation a:hover::after{
		width: 20%;
	}

	.navigation.active{
		display: block;
	}

	.navigation a{
		display: block;
		font-size: 1rem;
		margin: 1rem 2rem;
	}
	.front{
		text-align: center;
		padding: 0px 10px;
		flex-direction: column;
	}

	.content h1{
		margin-top: 15rem;
		font-size: 3rem;
	}

	.content p{
		font-size: 1.5rem;
	}

	.front-img img{
		width: 80vw;
		height: 50vw;
		margin-top: 4rem;
	}

	#services{
		padding: 120px 0px 600px 0px;
	}

	.services-list{
		text-align: center;
		margin-top: 20px;
		padding: 50px;
		display: flex;
		flex-direction: column;
		height: 420px;
	}

	.services-list div h2{
		margin-top: 2px;
		margin-bottom: 25px;
	}

	.services-list div p{
		font-size: 0.8rem;
		line-height: 1.2rem;
		text-align: justify;
		letter-spacing: 1px;
	}

	.about-img img{
		width: 500px;
		padding: 20px;
		border-radius: 15%;
	}

	.about-content{
		padding: 0px 10px;
	}

	.about-content h3{
		margin-top: 5px;
		text-align: center;
		font-size: 2rem;
	}

	.about-content p{
		margin-top: 20px;
		text-align: justify;
		font-size: 1.2rem;
	}

	.about{
		margin-top: 20px;
	}

	.tables tr, .tables th , .tables td{
		padding: 10px 100px;
		font-size: 10px;
	}

	#contact{
		padding: 120px 30px;
	}

	.contact-container{
		padding: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.contact-container .contact-form{
		width: 700px;
	}

	.contact-form input, .contact-form textarea{
		font-size: 1rem;
	}

	.contact-form .send-button{
		text-align: center;
		font-size: 1rem;
		border-radius: 40px;
	}

	.contact-icons li{
		font-size: 1rem;
	}

	.form-container h3{
		font-size: 2rem;
		text-align: center;
	}

	.contact-container .map{
		width: 700px;
		height: 700px;
	}

	.footer-container{
		font-size: 1.2rem;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

}

/*============================== third layer ============================*/

@media (max-width: 1200px){
	#menu-icons{
		display: block;
	}

	.navigation{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 2rem 3%;
		background: black;
		border-top: .1rem solid rgb(0, 0, 0, .2);
		box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .2);
		display: none;
	}

	.cover h1{
		font-size: 3rem;
	}

	#menu-icons{
		font-size: 3rem;
	}

	.navigation a:hover::after{
		width: 20%;
	}

	.navigation.active{
		display: block;
	}

	.navigation a{
		display: block;
		font-size: 2rem;
		margin: 2rem 2rem;
	}
	.front{
		text-align: center;
		padding: 0px 10px;
		flex-direction: column;
	}

	.content h1{
		margin-top: 15rem;
		font-size: 3rem;
	}

	.content p{
		font-size: 1.5rem;
	}

	.front-img img{
		width: 80vw;
		height: 50vw;
		margin-top: 4rem;
	}

	#services{
		padding: 120px 100px 650px 100px;
	}

	.services-list{
		text-align: center;
		margin-top: 20px;
		padding: 50px;
		display: flex;
		flex-direction: column;
		height: 420px;
	}

	.services-list div h2{
		margin-top: 2px;
		margin-bottom: 25px;
	}

	.services-list div p{
		font-size: 1.3rem;
		line-height: 2rem;
		text-align: justify;
		letter-spacing: 1px;
	}

	#works{
		padding: 120px;
	}

	.about-img img{
		width: 500px;
		padding: 20px;
		border-radius: 15%;
	}

	.about-content h3{
		margin-top: 5px;
		text-align: center;
		font-size: 2rem;
	}

	.about-content p{
		margin-top: 20px;
		text-align: justify;
		font-size: 1.5rem;
	}

	.about{
		margin-top: 20px;
	}

	.tables tr, .tables th , .tables td{
		padding: 10px 100px;
		font-size: 1rem;
	}

	#contact{
		padding: 120px 30px;
	}

	.contact-container{
		padding: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.contact-container .contact-form{
		width: 700px;
	}

	.contact-form input, .contact-form textarea{
		font-size: 1.4rem;
	}

	.contact-form .send-button{
		text-align: center;
		font-size: 1.4rem;
		border-radius: 40px;
	}

	.contact-icons li{
		font-size: 1.5rem;
	}

	.form-container h3{
		font-size: 2rem;
		text-align: center;
	}

	.contact-container .map{
		width: 700px;
		height: 700px;
	}

	.footer-container{
		font-size: 1.2rem;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

}

/*============================== third layer ============================*/

@media (max-width: 1000px){
	#menu-icons{
		display: block;
	}

	.navigation{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: black;
		border-top: .1rem solid rgb(0, 0, 0, .2);
		box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .2);
		display: none;
	}

	.navigation a:hover::after{
		width: 20%;
	}

	.navigation.active{
		display: block;
	}

	.navigation a{
		display: block;
		font-size: 2rem;
		margin: 2rem 2rem;
	}
	.front{
		text-align: center;
		padding: 0px 10px;
		flex-direction: column;
	}

	.content h1{
		margin-top: 15rem;
		font-size: 3rem;
	}

	.content p{
		font-size: 1.5rem;
	}

	.front-img img{
		width: 80vw;
		height: 50vw;
		margin-top: 4rem;
	}

	#services{
		padding: 100px 60px 780px 60px;
	}

	.services-list{
		text-align: center;
		margin-top: 20px;
		padding: 50px;
		display: flex;
		flex-direction: column;
		height: 420px;
	}

	.services-list div h2{
		margin-top: 2px;
		margin-bottom: 25px;
	}

	.services-list div p{
		font-size: 1.5rem;
		line-height: 2.5rem;
		text-align: justify;
		letter-spacing: 1px;
	}

	#works{
		padding: 100px;
	}
	

	.about-img img{
		width: 300px;
		height: 300px;
		padding: 20px;
		border-radius: 15%;
	}

	.about-content{
		padding: 0px 10px;
	}

	.about-content h3{
		margin-top: 5px;
		text-align: center;
		font-size: 2rem;
	}

	.about-content p{
		margin-top: 20px;
		text-align: justify;
		font-size: 1.5rem;
	}

	.about{
		margin-top: 20px;
	}

	#table{
		padding: 100px;
	}

	.tables tr, .tables th , .tables td{
		padding: 5px 60px 5px 60px;
		font-size: 1rem;
	}

	#contact{
		padding: 100px 50px 100px 50px;
	}

	.contact-container{
		padding: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.contact-container .contact-form{
		width: 600px;
	}

	.contact-form input, .contact-form textarea{
		font-size: 1.5rem;
	}

	.contact-form .send-button{
		text-align: center;
		font-size: 1.5rem;
		border-radius: 40px;
	}

	.contact-icons li{
		font-size: 9px;
	}

	.form-container h3{
		font-size: 2rem;
		text-align: center;
	}

	.contact-container .map{
		width: 600px;
		height: 400px;
	}

	.footer-container{
		font-size: 1.2rem;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	.dev img{
		width: 200px;
		height: 200px;
	}

}

/*============================== phone layer ============================*/

@media (max-width: 768px){
	#menu-icons{
		display: block;
	}

	.navigation{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: black;
		border-top: .1rem solid rgb(0, 0, 0, .2);
		box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .2);
		display: none;
	}

	.navigation a:hover::after{
		width: 20%;
	}

	.navigation.active{
		display: block;
	}

	.navigation a{
		display: block;
		font-size: 2rem;
		margin: 2rem 2rem;
	}
	.front{
		text-align: center;
		padding: 0px 10px;
		flex-direction: column;
	}

	.content h1{
		margin-top: 20rem;
		font-size: 2rem;
	}

	.content span{
		margin-top: 20rem;
		font-size: 10rem;
	}
	
	.content p{
		font-size: 1.5rem;
	}

	.front-img img{
		width: 80vw;
		height: 60vw;
		margin-top: 4rem;
	}

	#services{
		padding: 100px 10px 700px 10px;
	}

	.services-list{
		text-align: center;
		margin-top: 20px;
		padding: 20px 120px;
	}

	.services-list div{
		height: 300px;
	}

	.services-list div h2{
		margin-top: 2px;
		margin-bottom: 25px;
	}

	.services-list div p{
		font-size: 1rem;
		line-height: 1.8rem;
		text-align: justify;
		letter-spacing: 1px;
	}

	.about-img img{
		width: 400px;
		padding: 20px;
		border-radius: 15%;
	}

	.about-content{
		padding: 0px 30px;
	}

	.about-content h3{
		margin-top: 5px;
		text-align: center;
		font-size: 2.7rem;
	}

	.about-content p{
		margin-top: 20px;
		text-align: center;
		font-size: 1.5rem;
	}

	.about{
		margin-top: 20px;
		flex-direction: column;
	}

	#table{
		padding: 100px;
	}

	.tables tr, .tables th , .tables td{
		padding: 5px 30px 5px 30px;
		font-size: 1.3rem;
	}

	#contact{
		padding: 100px 30px;
	}

	.contact-container{
		padding: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.contact-container .contact-form{
		width: 400px;
	}

	.contact-form input, .contact-form textarea{
		font-size: 1.3rem;
	}

	.contact-form .send-button{
		text-align: center;
		font-size: 1.3rem;
		border-radius: 40px;
	}

	.contact-icons li{
		font-size: 8px;
	}

	.form-container h3{
		font-size: 2rem;
		text-align: center;
	}

	.contact-container .map{
		width: 400px;
		height: 400px;
	}

	.dev{
		display: flex;
		flex-direction: column;
	}

	.dev img{
		height: 300px;
		width: 300px;
	}

	.footer-container{
		font-size: 1.2rem;
		text-align: center;
		display: flex;
		flex-direction: column;
	}
}